* { padding: 0; margin: 0; }

#portfolio_startscreen{
    height:100dvh;
    width:100vw;
    background-color: aqua;
    position:relative;

    #pf_starttext1{
        position: absolute;
        // width:100%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    #pf_starttext2{
        position: absolute;
        width:100%;
        left: 40%;
        top: 60%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-30%, -50%);
    }
    #cta_button{
        position:absolute;
        float:right;
        // bottom:0;
        top:95%;
        left:80%;
        // justify-content: center;
    }
}
#portfolio_projects{
    height:100dvh;
    background-color: bisque;
}