* { padding: 0; margin: 0; }

.title_text{
    // font-size:large;
    color:blue;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}
.pf_text{
    font-size: large;
    color:black;
    text-decoration: none;
    text-transform: lowercase;
}
.pf_text_projects{
  font-size: large;
  color:black;
  text-decoration: none;
  // text-transform: lowercase;
}
.pf_text_impressum{
  font-size: large;
  color:black;
  text-align: left !important;
  text-decoration: none;
  // text-transform: lowercase;
}
.pf_text_abme{
    font-size: medium;
    // font-family:Times New Roman, Serif;
    color:black;
    text-decoration: none;
    text-transform: lowercase;
}
.box_title{
    color:black;
    text-align: center;
    letter-spacing: 0.1em;
}
.impressum_title{
  color:blue;
  text-align: left;
  letter-spacing: 0.1em;

}
a:link{
    text-decoration: none;
}
.myskills_text{
    color:black;
    text-decoration: none;
    font-size: medium;
    // text-transform: uppercase;
}
.nav-link:focus {
    color: blue !important;
    font-weight: bold !important;
  }
  
  .nav-link:active {
    color: blue !important;
    font-weight: bold;
  }
  
  .nav-link.active {
    color: blue !important;
    font-weight: bold;
    border-bottom: 1px solid blue;
  }
  .blue_contact{
    color:blue;
    text-decoration: none;
  }
.bold_text{
    font-weight: bold;
}