* { padding: 0; margin: 0; }

#portfolio_startscreen{
    height:100dvh;
    width:100vw;
    // background-color: aqua;
    position:relative;

    #pf_starttext1{
        position: absolute;
        // width:100%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    #pf_starttext2{
        position: absolute;
        // width:100%;
        display:flex;
        // margin: 0 auto;
        
        left: 20%;
        top: 55%;
        // padding-right:15dvw;
        // -webkit-transform: translate(-50%, -50%);
        // transform: translate(-50%, -50%);
        // word-break: normal;
    }
    #cta_button{
        position:absolute;
        display:flex;
        align-items: center;
        justify-content: end;
        padding-right:1dvw;

    //     // float:right;
    //     // bottom:0;
        top:90%;
        // float:right;
        // left:80%;

    //     // justify-content: center;
    }
}
#portfolio_projects{
    height:100dvh;
    background-color: bisque;

    #projects_area{
        margin: auto;
        width: 100%;
        height:70dvh;
        background-color: blue;
        padding-left:20px;

        display:grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        gap:5px;

        .portfolio_project{
            width:85%;
            border:2px solid black;
            height:30dvh;
        }

    }
}
#portfolio_offers{
    height:100dvh;
    // background-color: burlywood;

    .offers_content{
        margin-left: auto;
        margin-right:auto;
        width:75%;
        display:grid;
        grid-template-columns: 49% 49%;
        gap:10px;

        #box_fullstack{
            grid-column: 1/span 1;
            // background-color: lightcoral;
        }
        #box_socialmedia{
            grid-column: 2/spoan 1;
            // background-color: lightcyan;
        }
        #box_photo{
            grid-column: 1/span 2;
            // background-color: lightgreen;
        }
    }
}
#portfolio_myskills{
    height:100dvh;
    // background-color: chartreuse;

    .skills_content{
        display:grid;
        margin-left: auto;
        margin-right:auto;
        width:75%;
        gap:25px;
        grid-template-columns: 25% 25% 25% 25%;

        .skillbox{
            width:100%;
            border: 1px solid black;
            height:15dvh;
            padding-left:15px;
            position: relative;

            .skill_image{
                // padding-top:2dvh;
                margin: 0;
                position: absolute;
                top: 40%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            .skill_text{
                padding-top:2dvh;
                margin: 0;
                position: absolute;
                top: 70%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
    }
}
#portfolio_aboutme{
    height:100dvh;
    // background-color: cyan;

    #pf_aboutarea{
        display:grid;
        // width:100%;
        padding-top:10dvh;
        grid-template-columns: 50% 50%;
        margin-left: auto !important;
        margin-right:auto !important;
        #personal_box{
            grid-column: 1/span 1;
            padding:10px;  
            margin-top:40px;          
            width:92%;
            margin-left:10%;
            height:40dvh;
            // background-color: aqua;
            background: hsla(0, 17%, 93%, 0.65);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            z-index: 3;      
            // overflow: scroll;
        }
        #personal_image {
            grid-column: 2 / span 1;
            width: 70%;
            height: 70%;
            rotate: 15deg;
            margin-left:-10%;
            z-index: 0;
            /* background-color: aquamarine; */

            img{
                border-radius: 25px;
            }
          }
    }
    
}
#portfolio_impressum{
    height:100dvh;
    // background-color: darkgray;

    #impressum_box{
     
        grid-column: 1/span 1;
        padding:10px;  
        width:92%;
        margin-left:10%;

        height:65dvh;
        // background-color: aqua;
        background: hsla(0, 17%, 93%, 0.65);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        z-index: 3;  
        
        margin: auto;
        margin-top:50px;
        width: 50%;
        // border: 3px solid green;
        padding: 10px;
        overflow: scroll;
    }
}

.portfolio_title{
    padding-top:10dvh;
    text-align:center;
}
.portfolio_text{
    text-align: center;
}

.box_shadow{
    box-shadow: 0 12px 16px 0 rgba(95, 73, 235, 0.24),0 17px 50px 0 rgba(72, 170, 245, 0.19);
}
.box_shadow:hover {
    box-shadow: 0 12px 30px 0 rgba(26, 5, 180, 0.24),0 17px 50px 0 rgba(57, 4, 182, 0.19);
}

.nav-link {
    transition: color 0.3s, border-bottom 0.3s;
  }

  /* ---- Modal Body ---- */
  .projectimages{
    padding-bottom:15px !important;
  }